/* for all projects to add this */
html {
  box-sizing: border-box;
  /* background-color: rgb(255, 224, 179); */
  /* background: -webkit-linear-gradient(
    rgb(255, 90, 14),
    rgb(255, 243, 77),
    rgb(235, 224, 213)
  ); */

  
  background-image: url("pg_orange_bg_3.png");
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-self: center;
}

#footer {
  color: rgb(247, 235, 221);
  padding-top: 0;
}

.alert {
  margin-bottom: 0;
}

.container-marketing {
  /* background-image: linear-gradient(
    antiquewhite,  
    rgb(253, 178, 57)
  ); */
  background-image: url("yellow_bg_wide_2.png");
  position: relative;
  z-index: 3;
}

.bd-placeholder-img {
  align-items: center;
}
.row {
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.rounded_image {
  align-items: center;
  align-self: center;
  align-content: center;
}

/* --- banner --- */
.banner-bg {
  margin: auto;
  background: -webkit-linear-gradient(
    /* rgb(196, 14, 120), */
    rgb(255, 82, 14),
    rgb(255, 235, 57),
    rgb(235, 224, 213)
  );
  align-items: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  z-index: 3;
  position: relative;
}

.image {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 320px;
}

/* --- header --- */
#header {
  /* background-color: antiquewhite; */
  color: rgb(247, 235, 221);
  position: relative;
  z-index: 2;
  max-height: 40px;
}

.header-div {
  display: flex;
  flex-direction: row;
}

.header-div nav a {
  color: rgb(197, 18, 78);
  font-weight: bolder;
  text-decoration: none;
  padding-right: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  font-size: medium;
  text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);
}

.header-div nav a:hover {
  color: rgb(255, 218, 9);
}

/* .icon-div {
  display: flex;
  justify-content: center;
}


.icon {
  height: 50px;
  width: 50px;
} */

.logo-image {
  height: 110px;
  padding: 20 px;
  margin-left: 45%;
  position: relative;
  z-index: 100;
  top: -420px;
}

.footer-margin {
  margin-left: 28px;
}

/* about us */
.team {
  font-size: xx-large;
  color: rgb(197, 18, 78);
  font-weight: bolder;
  text-align: center;
}

.artists-text {
  font-size: medium;
  text-align: center;
  color: rgb(104, 1, 35);
}

.artists-names {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

/* home */

.lead1{
font-size: medium;
font-weight: bold;
text-align: justify;
}

.lead {
  font-weight: bold;
  color: rgb(104, 1, 35);
}

.featurette-heading {
  color: rgb(150, 9, 56);
}

.many-pieces {
  height: 380px;
}


/* home bottom */

.home-bottom {
  margin: auto;
  background: -webkit-linear-gradient(
    /* rgb(196, 14, 120), */
    rgb(235, 224, 213),
    rgb(255, 235, 57),
    rgb(255, 82, 14)

  );
  align-items: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  z-index: 3;
  position: relative;
}

.image-bottom {
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  height: 250px;
}

/* feedback */
.feedback {
  text-align: center;
}

/* logo at bottom of other pages */
.logo-bottom {
  text-align: center;

}

.video-right {
  float: right;
}




