<div th:fragment="header" id = "header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <div class="icon">
            <img
            src = "puzzle_game_logo.png" class = "bi me-2" width = "80" height = "80">
        </img>
        </div>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Blog</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Add a post</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About Us</a>
        </nav>
    </div>
</div>

<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.1/getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>
</div>