<!-- <div th:fragment="header" id = "header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom">

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Feedback</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Add a feedback</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About Us</a>
        </nav>
    </div>
</div> -->


<div th:fragment="header" id = "header">
                
                
    <div class = "header-div">
        <!-- <div class = "icon-div">
        <div class="icon">
            <img
            src = "puzzle_game_logo.png" >
        </img>
        </div>
        </div> -->

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a  href="/">HOME</a>
            <a  href="/blog">FEEDBACK</a>
            <a  href="/blog/add">ADD FEEDBACK</a>
            <a  href="/about">ABOUT US</a>
        </nav>
    </div>
</div>

<!-- <div class="icon">
    <img
    src = "puzzle_game_logo.png" width = "80" height = "80">
</img>
</div> -->

<div th:fragment="footer" id = "footer">
    <footer class="text-dark py-2">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1"><b>She Goes Tech JAVA 2022 <a class="footer-margin" href="https://github.com/puzzle_game.git" >Visit our GitHub </a> </p>

        </div>
    </footer>
</div>