<div th:fragment="header" id = "header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom">
        <div class="icon">
            <img
            src = "puzzle_game_logo.png" class = "bi me-2" width = "80" height = "80">
        </img>
        </div>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Feedback</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Add a feedback</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About Us</a>
        </nav>
    </div>
</div>

<div th:fragment="footer" id = "footer">
    <footer class="text-dark py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1"><b>She Goes Tech JAVA 2022</b></p>
            <p class="mb-0"><a href="https://github.com/puzzle_game.git" >Visit our GitHub </a> </p>
        </div>
    </footer>
</div>